.img-fish {
    width: 50vw;
    border: 1px solid black;
    margin: 10px;
}

.center-fish {
    display: flex;
    align-items: center;
}

.center-fish-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
    text-align: center; /* Center text within the container */
    margin: 10px;
}

.txt-fish {
    margin: 10px;
}
