.img-homepage {
    width: 80vw;
    margin: 10px;
}
@media screen and (min-width: 900px) {
    .img-homepage {
        width: 35vw;
        margin: 10px;
    }
}

.txt-homepage {
    width: 80vw;
    margin: 10px;
}
@media screen and (min-width: 900px) {
    .txt-homepage {
        width: 35vw;
        margin: 10px;
    }
}

.map-homepage {
    width: 80vw;
    height: 200px;
    margin: 10px;
}
