nav ul {
    list-style: none;
}

div:first-of-type::after {
    content: "";
    display: block;
    margin-top: 5px; /* Adjust the value as needed */
}

nav ul li {
    position: relative;
    float: left;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(123, 123, 194);
    z-index: 1000; /* Set a higher z-index value */
}
nav ul ul.show {
    display: block;
    z-index: 1000; /* Set a higher z-index value */
}

nav ul ul li {
    float: none;
    width: 100%;
}

nav ul ul li a {
    padding: 8px 10px;
}


.nav-border {
    border-bottom: 1px solid #333;
}

.nav-break li {
    display: inline-block; /*Make list items inline */
    margin-right: 10px; /* Adjust spacing between items */
}

.nav-break li:last-child {
    margin-right: 0; /* Remove margin for the last item to avoid extra space */
}
