.table-border {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 8px; /* Adjust as needed */
  }

  .center-table-txt {
   text-align: center;
  }

  .table-box {
    padding: 10px;
    border: 1px solid black;
  }
