.table-border {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 8px; /* Adjust as needed */
  }

  .center-table-txt {
   text-align: center;
  }

  .table-box {
    padding: 10px;
    border: 1px solid black;
  }

  .center-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
    text-align: center; /* Center text within the container */
    margin: 10px;
  }

  .row-dark {
    background: #c5c5c5
}

.table {
  width: 90vw;
}

@media screen and (max-width: 410px) {
  .table-font {
      font-size: medium;
  }
}
