* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body, ul, p {
    margin: 0;
    padding: 0;
}

.border {
    border: 1px solid black;
}

.blue {
    background: blue;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
}

.w-100 {
    width: 100vw;
}

.h-100p {
    height: 100%;
}

nav ul {
    list-style: none;
}

div:first-of-type::after {
    content: "";
    display: block;
    margin-top: 5px; /* Adjust the value as needed */
}

nav ul li {
    position: relative;
    float: left;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: blue;
}

nav ul ul li {
    float: none;
    width: 100%;
}

nav ul ul li a {
    padding: 8px 10px;
}
